



.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-second {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-style: second;
}

/* nav */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}
.nav-title{
    font-weight: bold;
    font-size: 35px;

}
/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* shared */
.text-primary{
    color: #4E47FF;
}
.section-title{
    font-size: 40px;
    font-weight: bold;
    color: #252432;
}
.section-description{
    font-size: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);

}

.action{
    display: flex;
    justify-content:space-between ;
    margin-top: 115px;
}
.action-text{
    width: 517px;
}
.action-image{
    width: 403px;
    border-radius: 48px;

}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
}
.btn-primary{
    background-color:#4E47FF ;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;

    
}
.btn-primary:hover{
    background-color: rgb(214, 214, 73);
}
.banner{
    color: #252432;
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    margin: 309px 267.5px 153px 267.5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:309px 267.5px 153px 267.5px ;
}
.header{
    background-image: url('../Assets/Hero-bg.png');
}
/* joined */
.joined{
    padding: 116px 140 px ;
    background-color:rgba(78, 71, 255, 0.1) ;
    border-radius: 24px;
    margin-top: 116px;
    /* text-align: center; */
    
}
.joined-all{
    
    padding: 50px 142px 50px 142px ;
}

.section-title{
    text-align: center;
    padding: 50px 143px ;
    margin: 0;
    
}
.user-title{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF ;
    margin-bottom: 8px;
    margin-top:40px ;
    
}
.user-description{
    font-size: 20px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5) ;
    margin: 0;

}
.productive-users{
    display: flex;
    justify-content: space-around;
}
/* user feedback */
.say{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}
.star{
    display: flex;
    gap: 1px;
}
.designer-title{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.designer-description{
    font-size: 14px;
    font-weight: 200;
    color: black;
}
.r-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.reviewer{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}
.name {
  margin: 0;
  font-weight: 600;
  color: #333;
  font-size: 14px;
}
.date {
  margin: 0;
  font-size: 12px;
  color: #888;
}
.r-info{
     display: flex;
  flex-direction: column;
  justify-content: center;
}
.feedback{
    display: flex;
    gap: 100px;
    padding: 0 10px;
    justify-content: space-between;
    
    
}