



.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* nav */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}
.nav-title{
    font-weight: bold;
    font-size: 35px;

}
/* shared */
.text-primary{
    color: #4E47FF;
}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
}
.btn-primary{
    background-color:#4E47FF ;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;

    
}
.btn-primary:hover{
    background-color: rgb(214, 214, 73);
}
.banner{
    color: #252432;
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    margin: 309px 267.5px 153px 267.5px;
}
.header{
    background-image: url('../Assets/Hero-bg.png');
}
